body {
  margin: 0;
  font-family: monospace;
}
.controls {
  position: fixed;
  top: 0;
  width: 100dvw;
  background: #00000080;
  color: white;
  display: flex;
  align-items: center;
}
#countdown {
  text-align: center;
  padding: 0 1rem;
  white-space: nowrap;
}
#progress {
  flex: 1;
  margin-right: 2rem;
  padding: 0.5rem 0;
}
#weather {
  display: block;
  width: 3400px;
  height: 1600px;
}
